/* Import default Leaflet CSS */
@import 'https://unpkg.com/leaflet/dist/leaflet.css';

.leaflet-popup-content-wrapper {
  background-color: #333;
  color: white;
}

.leaflet-marker-icon {
  filter: brightness(0.7);
}